{% extends "base.html" %}
{%  load staticfiles %}
{% load analytical %}


    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}"
          rel="stylesheet" media="screen">
    <link href="{% static 'GeoTube/style.css'%}" rel="stylesheet" media="screen">

{% block content %}


<div class="row clearfix">
		<div class="col-md-12 column">
            <div class="page-header">
				<h1 id="box1">
					 Who are motovloggers?
				</h1>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h2 >

			</h2>
			<p id="boxinner">

                Meet some of the cream of the crop. Whether big time or small, these motovloggers have kept up a standard on YouTube like no other.

            </p>
			<br>

			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail" id="thumb">
						<img alt="300x300" src="https://yt3.ggpht.com/-oF1aB2aNY_8/AAAAAAAAAAI/AAAAAAAAAAA/W-ILO-t3YWI/s900-c-k-no/photo.jpg" />
						<div class="caption">
							<h3>
								Downshift83
							</h3>
							<p>

                            Master of stand-up wheelies and creator of The R3sistance, Downshift83 is definitely one to follow if you have a more relaxed view on life.
                            Downshift spares no one when it comes to language so consider yourself warned.  He's the owner of two amazing machines Vanessa the Yamaha R1 and
                            Synthia the Ducati Diavel, so if you're into beautiful bikes and Florida sunshine, he's your guy.


                            </p>
							<p>
								<a class="btn btn-primary" href="http://www.youtube.com/downshift83" id="pushbutton">Watch</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail" id="thumb">
						<img alt="300x300" src="https://yt3.ggpht.com/-X9_pdae_o7A/AAAAAAAAAAI/AAAAAAAAAAA/zWh5Ul3Zeek/s900-c-k-no/photo.jpg" />
						<div class="caption">
							<h3>
								ChaseOnTwoWheels
							</h3>
							<p>

                            A well-known Georgia vlogger, Chase is based out of Atlanta, Ga.  Currently riding for team Yamaha on an R6 and WR250X, Chase provides viewers
                            with a different experience with a myriad of accents.  Known for his Ducati Panigale review, R6 history, and inner city routes, viewers will
                            find themselves playing in traffic more than most other vloggers; lane splits abound.

                            </p>
							<p>
								<a class="btn btn-primary" href="http://www.youtube.com/chaseontwowheels" id="pushbutton">Watch</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail" id="thumb">
						<img alt="300x300" src="https://yt3.ggpht.com/-sJWASBlKSgI/AAAAAAAAAAI/AAAAAAAAAAA/CgmHJqkdgUw/s900-c-k-no/photo.jpg" />
						<div class="caption">
							<h3>
								Mizshift
							</h3>
							<p>

                            Unofficially crowned the King of Editing, Mizshift brings motovlogging and DSLR editing to a whole new level.  Originally beginning with
                            cinematic style videos, then transitioning into traditional vlogs, Mizshift has an uncanny ability to make cinematic style videos fall from
                            the wood-work.  Hailing from Illinois, expect to see a decent bit of snow. Oh, and wheelies.


                            </p>
							<p>
								<a class="btn btn-primary" href="http://www.youtube.com/mizshift" id="pushbutton">Watch</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail" id="thumb">
						<img alt="300x300" src="https://yt3.ggpht.com/-G2kXQ7lfwf0/AAAAAAAAAAI/AAAAAAAAAAA/v12VG8GDIqU/s900-c-k-no/photo.jpg" />
						<div class="caption">
							<h3>
								Adjriannicelodean
							</h3>
							<p>

                            One of Australias best, Adjrian brings Sydney, Australia to life in his videos.  Known for riding an R1 and consistently ranting at cagers,
                            Adjrian keeps things as real as it gets.  From topics like motorcycle safety to interacting with subscribers, Adjrians content can really
                            have an impact on his viewers. Although uploads are sparse, keep your eyes to his channel on the reg.

                            </p>
							<p>
								<a class="btn btn-primary" href="http://www.youtube.com/adjriannicelodean" id="pushbutton">Watch</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail" id="thumb">
						<img alt="300x300" src="https://yt3.ggpht.com/-nmUaddmpNfY/AAAAAAAAAAI/AAAAAAAAAAA/KQxmWaTTQ6c/s900-c-k-no/photo.jpg" />
						<div class="caption">
							<h3>
								YummiR6
							</h3>
							<p>

                            Known as motovloggings wild child, YummiR6 hails from Virginia Beach, Virginia.  Obviously riding an R6, he also totes the keys to a WR250X
                            named Chloe.  Viewers can sometimes find themselves lost in his exhaust notes as he goes on tangents in between Fan Mail Fridays and post office
                            problems. Definitely hit his channel for regular scheduled videos and new content every other day.

                            </p>
							<p>
								<a class="btn btn-primary" href="http://www.youtube.com/yummir6" id="pushbutton">Watch</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail" id="thumb">
						<img alt="300x300" src="https://yt3.ggpht.com/-_2x6_JbGzj8/AAAAAAAAAAI/AAAAAAAAAAA/J75kIwwQ8No/s900-c-k-no/photo.jpg" />
						<div class="caption">
							<h3>
								Stkrbombd
							</h3>
							<p>

                            One of Georgia's up-and-comers, Stkrbombd sports a Suzuki GS500F named Tessa that has appropriately been sticker bombed.  Known for his old bike
                            Ruth, a Ninja 500 street fighter, Stkrbombd has had one hell of a start.  His video uploads tend to be rather sporadic but usually come from the
                            heart.  Expect to see a lot more from this guy in the next year.

                            </p>
							<p>
								<a class="btn btn-primary" href="http://www.youtube.com/stkrbombd" id="pushbutton">Watch</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail" id="thumb">
						<img alt="300x300" src="https://yt3.ggpht.com/-wpuN53EbWvA/AAAAAAAAAAI/AAAAAAAAAAA/tRcfMe3G5wc/s900-c-k-no/photo.jpg" />
						<div class="caption">
							<h3>
								Witness2282
							</h3>
							<p>

                            Another R1 owner down in sunny Miami, Florida, Witness is one of the few vloggers that creates quality videos despite having large gaps in upload
                            times.  Another participant of Variant Nation, Witness rocks a red Variant and an amazing audio setup.  If you're a stickler for various angles,
                            great audio, and in depth vlogs, Witness2282 is who your looking for.  Just don't bash nurses... You may get hurt.

                            </p>
							<p>
								<a class="btn btn-primary" href="http://www.youtube.com/witness2282" id="pushbutton">Watch</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail" id="thumb">
						<img alt="300x300" src="https://yt3.ggpht.com/-zagLdNtfF1Y/AAAAAAAAAAI/AAAAAAAAAAA/e1FxaTGNz_Y/s900-c-k-no/photo.jpg" />
						<div class="caption">
							<h3>
								BrianS1K
							</h3>
							<p>

                            Another Georgia vlogger, BrianS1K sports a "smexy" BMW S1000RR.  Towering in at 6'8", he's one of the few guys that actually fits a liter bike,
                            let alone rides it like it's supposed to.  You can expect to see him ride around Braselton, Georgia and a decent bit of Blood Mountain in his videos.
                            He's been on a recent hiatus, but he's come back in style with an awesome sticker and amazing upgrades to his ride.


                            </p>
							<p>
								<a class="btn btn-primary" href="http://www.youtube.com/brians1k" id="pushbutton">Watch</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail" id="thumb">
						<img alt="300x300" src="https://yt3.ggpht.com/-hh0kYvRcNAU/AAAAAAAAAAI/AAAAAAAAAAA/twozhJHU3h8/s900-c-k-no/photo.jpg" />
						<div class="caption">
							<h3>
								Iamramekin
							</h3>
							<p>

                            Riding a Yamaha FZ-09, Rammy is best known for his adventures with ChaseOnTwoWheels.  With various Blood Mountain vlogs under his belt, Rammy is no
                            stranger to running long rides out north for hours on end.  After having spent a good portion of the last few years developing guides and helping
                            folks lose weight across YouTube, Ramekin is just one down to earth dude.

                            </p>
							<p>
								<a class="btn btn-primary" href="http://www.youtube.com/iamramekin" id="pushbutton">Watch</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail" id="thumb">
						<img alt="300x300" src="https://yt3.ggpht.com/-Dvg1RPeNPn8/AAAAAAAAAAI/AAAAAAAAAAA/nGPMRLQiWlc/s900-c-k-no/photo.jpg" />
						<div class="caption">
							<h3>
								YourPalsChrisAndAl
							</h3>
							<p>

                            Want some two for one goodness?  Que YourPalsChrisAndAl.  These two Aussies are no stranger to getting wild.  With numerous "wrecks" between them
                            and their supermotos and smaller sport bikes, they lean more towards the humorous side of vlogging than most everyone else.  It takes a bit to get
                            used to their quick banter back and forth, but the dual cameras is well worth the wait.

                            </p>
							<p>
								<a class="btn btn-primary" href="http://www.youtube.com/yourpalschrisandal" id="pushbutton">Watch</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail" id="thumb">
						<img alt="300x300" src="https://yt3.ggpht.com/-YHW2Y8kFu_w/AAAAAAAAAAI/AAAAAAAAAAA/VnIaqtxW8dI/s900-c-k-no/photo.jpg" />
						<div class="caption">
							<h3>
								ShagInTheWind
							</h3>
							<p>

                            Known for his antics with Mrs. Shaginthewind, Shag is one hell of a guy.  Repping metro Atlanta, Shaginthewind rides a murdered out CBR1000RR Fireblade
                            With sporadic but well thought out content, his channel is one to keep your eye on.  Although he doesn't have a specific upload schedule,
                            you can expect to hear awesome vlogs from this dude.  Oh, and don't forget to mention the Mrs.

                            </p>
							<p>
								<a class="btn btn-primary" href="http://www.youtube.com/shaginthewind" id="pushbutton">Watch</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail" id="thumb">
						<img alt="300x300" src="https://yt3.ggpht.com/-9zeSh7SJQFQ/AAAAAAAAAAI/AAAAAAAAAAA/qhd5xbdebUw/s900-c-k-no/photo.jpg" />
						<div class="caption">
							<h3>
								ZJ Motovlogs
							</h3>
							<p>

                            A night shift dude by occupation, ZJ does quite a bit of his vlogs in the wee hours of the morning.  Creator of Married Vlog Mondays, he and his wife
                            give couples content they can relate to.  ZJ tears up the streets on a beautiful 636 named Pheonix, (AKA Lady Bug) which is nearly unmistakable around
                            Boston.  Definitely subscirbe if you're into keeping your feed busy on a regular basis.

                            </p>
							<p>
								<a class="btn btn-primary" href="http://www.youtube.com/zjmotovlogs" id="pushbutton">Watch</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>


{% endblock %}
