{% extends "base.html" %}
{% load staticfiles %}
{% load analytical %}

{% block content %}
<div class="row clearfix">
		<div class="col-md-12 column">
            <div class="page-header">
				<h1 id="box1">
					GeoTube <small id="boxinner">Your one stop shop for YouTube analytics and geolocation.</small>
				</h1>
			</div>
		</div>
	</div>

	<div class="row">
				<div class="col-md-4">
					<div class="thumbnail" id="thumb">
						<img alt="300x200" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10410951_1491640954453976_7902731357409765249_n.jpg?oh=cc580dc31bd2414f2e48a35a7f94c480&oe=54F3CC2A&__gda__=1421201683_40d549835b72874a9d75b78209316855" />

						<div class="caption">
							<h3 id ="thumbhead">
								Discover
							</h3>
							<p>
								Ever wonder how many subscribers you have in England? How about Nova Scotia? Have a clue what we're talking about? Click below to take a crash course on YouTube analytics and get started on building your audience.
                            </p>
							<p>
								<a class="btn btn-primary" href="#" id="pushbutton">Get Started</a>
							</p>
						</div>
					</div>
                    </div>
				<div class="col-md-4">
					<div class="thumbnail" id="thumb">
						<img alt="300x200" src="https://scontent-b.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/p480x480/10394804_1481896638761741_9040669846257403104_n.jpg?oh=b29a0b95b7ef76317e751684c983ce6e&oe=54BDD42C" />

						<div class="caption">
							<h3 id ="thumbhead">
								Target
							</h3>
							<p>
                                Been here before? Get back to boosting your channel and learning where to devote your focus. Don't forget to check out the self-help section to better learn how YouTube analytics can work for you.
                            </p>
							<p>
								<a class="btn btn-primary" href="#" id="pushbutton">Continue</a>
							</p>
						</div>
					</div>
                    </div>

				<div class="col-md-4">
					<div class="thumbnail" id="thumb">
						<img alt="300x200" src="https://scontent-a.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/10469414_1488260681458670_6740057993279760968_n.jpg?oh=919b4e89446e37872a5e43fdf6ffcd8b&oe=54AD9F34" />

						<div class="caption">
							<h3 id ="thumbhead">
								Succeed
							</h3>
							<p>
                                Now that you've found the who, get working on the what. Here you can find some of the best places for guides and how-to's on expanding your brand and turning your hobby, into your job. Seriously... a real job.
                            </p>
							<p>
								<a class="btn btn-primary" href="#" id="pushbutton">Learn More</a>
							</p>
						</div>
					</div>
                    </div>

			</div>
<div class="row clearfix">
	<div class="col-md-12 column">
	</div>
</div>
{% endblock %}
