{% extends "base.html" %}
{%  load staticfiles %}
{% load analytical %}



{% block content %}

    <div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1 id="box1">
					Raw Analytics <small>For those who care.</small>
				</h1>

			</div>
			<div class="row clearfix">

				<div class="col-md-2 column">
                <form method="post" action="">{% csrf_token %}
					{% for field in form %}
                        <fieldset class="control-group">
                            <label class="control-label" id="boxinner" for="id_{{ field.name }}">{{ field.label }}</label>
                            <div class="controls">
                                {{ field }}
                                <p class="help-text">{{ field.help_text }} </p>
                            </div>
                        </fieldset>
                    {% endfor %}
                    <button type="Submit">Submit Request</button>
                </form>
				</div>

				<div class="col-md-10 column">
                    <div class="tabbable" id="tabs-818444">
						<ul class="nav nav-tabs">
							<li class="active">
								<a href="#panel-1" data-toggle="tab">Channel</a>
							</li>
							<li>
								<a href="#panel-2" data-toggle="tab">Start Date</a>
							</li>
                            <li>
								<a href="#panel-3" data-toggle="tab">End Date</a>
							</li>
                            <li>
								<a href="#panel-4" data-toggle="tab">Metrics</a>
							</li>
                            <li>
								<a href="#panel-5" data-toggle="tab">Dimensions</a>
							</li>
                            <li>
								<a href="#panel-6" data-toggle="tab">Filters</a>
							</li>
                            <li>
								<a href="#panel-7" data-toggle="tab">Max Results</a>
							</li>
                            <li>
								<a href="#panel-8" data-toggle="tab">Sort</a>
							</li>
                            <li>
								<a href="#panel-9" data-toggle="tab">Start Index</a>
							</li>
                            <li>
								<a href="#panel-10" data-toggle="tab">Fields</a>
							</li>

						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="panel-1">
                                <h1 id="navred">Channel ID</h1>

                                <p id="boxinner">
									This is where you can MUST enter your channel ID that can be found <a href="https://www.youtube.com/account_advanced" target="_blank">here</a>.
                                    <br>
                                    <br>
                                    This cannot be left blank.
								</p>
							</div>
							<div class="tab-pane" id="panel-2">
                                <h1 id="navred">Start Date</h1>

								<p id="boxinner">
									The start date is the date in which you may start the search of all of your content. This can be used to create a set of results that the user can specify a start date.
                                    The date must be specified: <p id="box1">YYYY-MM-DD</p>.
                                    <br>
                                <p id="boxinner">
                                    This cannot be left blank.
								</p>
							</div>
                            <div class="tab-pane" id="panel-3">
                                <h1 id="navred">End Date</h1>
								<p id="boxinner">
									The end date is the date in which you may end the search of all of your content. This can be used to create a set of results that the user can specify an end date.
                                    The date must be specified: <p id="box1">YYYY-MM-DD</p>.
                                    <br>
                                <p id="boxinner">
                                    This cannot be left blank.
								</p>
							</div>
                            <div class="tab-pane" id="panel-4">
                                <h1 id="navred">Metrics</h1>
								<p id="boxinner">
									This is where you can specify what type of results you are looking for. The following metrics are a few of the most common,
                                    but more can be found <a href="https://developers.google.com/youtube/analytics/v1/dimsmets/mets" target="_blank">here</a>.
                                    <br>

                                    <li id="boxinner">annotationClickThroughRate</li>
                                    <li id="boxinner">annotationCloseRate</li>
                                    <li id="boxinner">averageViewDuration</li>
                                    <li id="boxinner">comments</li>
                                    <li id="boxinner">likes</li>
                                    <li id="boxinner">dislikes</li>
                                    <li id="boxinner">earnings</li>
                                    <li id="boxinner">estimatedMinutesWatched</li>
                                    <li id="boxinner">favoritesAdded</li>
                                    <li id="boxinner">favoritesRemoved</li>
                                    <li id="boxinner">shares</li>
                                    <li id="boxinner">subscribersGained</li>
                                    <li id="boxinner">subscribersLost</li>
                                    <li id="boxinner">viewerPercentage</li>
                                    <li id="boxinner">views</li>
                                    <br>
                                <p id="boxinner">
                                    This cannot be left blank.
								 </p>
							</div>
                            <div class="tab-pane" id="panel-5">
                                <h1 id="navred">Dimensions</h1>
								<p id="boxinner">
									This is where you can request other types of results in relation to the metrics you have already listed. A few of the most common ones are listed below,
                                    but the full document of dimensions can be found <a href="https://developers.google.com/youtube/analytics/v1/dimsmets/dims" target="_blank">here</a>.
                                    <br>

                                    <li id="boxinner">7DayTotals</li>
                                    <li id="boxinner">30DayTotals</li>
                                    <li id="boxinner">ageGroup</li>
                                    <li id="boxinner">gender</li>
                                    <li id="boxinner">country</li>
                                    <li id="boxinner">day</li>
                                    <li id="boxinner">month</li>
                                    <li id="boxinner">sharingService</li>
                                    <li id="boxinner">uploaderType</li>
                                    <li id="boxinner">video</li>

                                    <br>
                                <p id="boxinner">
                                    This can be left blank.
								</p>
							</div>
                            <div class="tab-pane" id="panel-6">
                                <h1 id="navred">Filters</h1>
								<p id="boxinner">
									This is where you can filter your results by supplying dimension specif filters to sift through the results.
                                    <a href="https://developers.google.com/youtube/analytics/v1/index#filters" target="_blank">This</a> is for advanced users.
                                    <br>
                                    <br>
                                    This can be left blank.
								</p>
							</div>
                            <div class="tab-pane" id="panel-7">
                                <h1 id="navred">Max Results</h1>
								<p id="boxinner">
									This is where you can specify the maximum number of rows to to include in the results.
                                    <br>
                                    <br>
                                    This can be left blank.
								</p>
							</div>
                            <div class="tab-pane" id="panel-8">
                                <h1 id="navred">Sort</h1>
								<p id="boxinner">
									This is used for when you want to sort metrics and dimensions in the results. The default order is ascending and can be inversed by adding a - .
                                    <br>
                                    <p id="box1">
                                    E.G. day,-views
                                    </p>
                                <br>
                                <p id="boxinner">
                                    This can be left blank.
								</p>
							</div>
                            <div class="tab-pane" id="panel-9">
                                <h1 id="navred">Start Index</h1>
								<p id="boxinner">
									This is where you can edit which place you want the results to start.
                                    <br>
                                    <br>
                                    This can be left blank.
								</p>
							</div>
                            <div class="tab-pane" id="panel-10">
                                <h1 id="navred">Fields</h1>
								<p id="boxinner">
									This can be used a selector in which you can include a partial result.
                                    <br>
                                    <br>
                                    This can be left blank.
								</p>
							</div>
						</div>
					</div>
				</div>

				</div>
			</div>
		</div>
	</div>
</div>





{% endblock %}

