{% extends "base.html" %}
{%  load staticfiles %}
{% load analytical %}


{% block content %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1 id="box1">
					What is Motovlogging?
				</h1>
			</div>
			<h2 id="navred">
				mo - to - vlogg - ing
			</h2>
			<p id ="boxinner">
			    The process of recording video blogs while riding a motorcycle with intent to display or upload to social media and YouTube.
            </p>

            <br>

			<div class="row clearfix">
				<div class="col-md-4 column">
                    <h3 id ="thumbhead">
						<center>Past</center>
				    </h3>
                    <p id="boxinner">

                    Motovlogging has come a long way in the last few years.  With the creation of flash cards and digital media, recording your adventures became part of the norm
                    within the motorcycle culture.  From long rides across the country to short inner city group rides, it was only natural for people to show their friends and family
                    what had happened during their travels.  Riders were hard wiring microphones and camcorders to their bikes and helmets in hopes that they could give their viewers
                    a first hand look.
                    </p>
                        <center><img height="350" width="350" src="http://www.rickramsey.net/HelmetCamlg/PC7onHelmet.jpg" /></center>

                    <br>

                    <p id="boxinner">
                    As technology continued to push the boundaries during the late 1990's and early 2000's, riders found themselves using smaller and more efficient equipment.  The
                    birth of action camera companies like GoPro and Sony dominated the market providing exactly what motovloggers needed; small, digital, tough cameras that could be
                    attached to anything.

                    </p>
				</div>
				<div class="col-md-4 column">
                    <h3 id ="thumbhead">
						<center>Present</center>
				    </h3>
                    <p id="boxinner">

                    Today, motovloggers sport upgraded action cams, wind canceling bluetooth microphones, and wireless screens, enabling them to provide even better audio and video for their
                    viewers.  With the greater market split between GoPro and Drift cameras, motovlogging has come to a standard in which riders no longer have to ponder if their setup
                    will work correctly.  Out of the box kits and products have reduced or removed the problems of old in favor for HD video and superb voice audio that can triple digit
                    speeds.
                    </p>
                        <center><img height="350" width="350" src="http://cam-do.com/webcam/hero-hd.jpg" /></center>

                    <br>

                    <p id="boxinner">
                    Computer systems have advanced so much that now most off the shelf laptops and desktop PC's can handle 1080P HD without skipping a beat.  And in a world where everyone and
                    their mother has accepted the movement towards high definition everything, you would shoot yourself in the foot if your system couldn't handle your video content.

                    </p>

				</div>
				<div class="col-md-4 column">
                    <h3 id ="thumbhead">
						<center>Future</center>
					</h3>
                    <p id="boxinner">

                    With the advancement of 4K video and Ultra High Definition TV's and monitors, motovlogging is on the cusp of yet another break through.  Cameras like the GoPro Hero 4 shooting
                    ridiculously high quality 4K resolution video at 30 frames per second, are going to force viewers to upgrade their internet speed to keep up.  DSLR's will become more of a
                    commodity than a necessity when it comes to cinematic content, helping content creators maintain a sense of unity instead of producing video from two completely different
                    machines.
                    </p>
                        <center><img height="350" width="350" src="https://scontent-b.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/1150789_1484920641792674_4076579064442397377_n.jpg?oh=cce6255e12cdf242bb6779f0d550ee5c&oe=54E2F8D1" /></center>

                    <br>

                    <p id="boxinner">
                    If you're just starting out, you've come into the hobby at an amzing time.  Cameras are becoming much more efficient for the price tag and given that fact that companies
                    like GoPro and SENA aren't going anywhere anytime soon, all they need is a partnership with Android and we could get to live streaming in no time.

                    </p>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}